# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.local

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Chroma / vector DB
vector_store/
chroma/
*.sqlite3

# Python build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Testing cache
.pytest_cache/

# Local temp files
temp/
uploads/