fastapi
uvicorn[standard]
streamlit
groq
chromadb
torch==2.7.1
sentence-transformers==5.1.0
transformers==4.56.1
pymupdf
python-docx
pyvis
networkx
pydantic
python-multipart
httpx
numpy
pandas
plotly
python-dotenv
